.carouselle {
  padding: 15px 0;
  height: 100px;
  grid-column: 1 / -1; }
  .carouselle .carouselle-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; }
    .carouselle .carouselle-heading .featured h2 {
      color: #cc6600;
      font-size: 18px;
      font-family: "Amazon Ember";
      font-weight: 600; }
  .carouselle .carouselle-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .carouselle .carouselle-wrapper .card-btn-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .carouselle .carouselle-wrapper .card-btn-wrapper .btn-left, .carouselle .carouselle-wrapper .card-btn-wrapper .btn-right {
        height: 40px;
        width: 40px;
        margin: 10px;
        padding: 10px;
        background: white;
        text-align: center;
        border: 1px solid lightgray;
        border-radius: 5px; }
        .carouselle .carouselle-wrapper .card-btn-wrapper .btn-left:hover, .carouselle .carouselle-wrapper .card-btn-wrapper .btn-right:hover {
          background: lightgray;
          cursor: pointer; }
    .carouselle .carouselle-wrapper .cards-wrapper {
      width: calc(90% - 100px); }
      .carouselle .carouselle-wrapper .cards-wrapper .card {
        margin: 10px;
        width: 160px; }
        .carouselle .carouselle-wrapper .cards-wrapper .card-img {
          background: url(/assets/images/caruselle1.jpg) no-repeat;
          background-size: contain;
          height: 160px;
          width: 100%; }
        .carouselle .carouselle-wrapper .cards-wrapper .card-rating {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          .carouselle .carouselle-wrapper .cards-wrapper .card-rating .card-stars {
            display: inline-block;
            background: url("/assets/sprites/ratings-srpite.png") no-repeat -99px -109px;
            width: 95px;
            height: 18px; }
        .carouselle .carouselle-wrapper .cards-wrapper .card-price {
          font-size: 18px; }
