.top-header, .top-header-left, .top-header-right, .search, .nav-main ul {
  display: flex;
  flex-direction: row; }

.top-header .pin-wrap, .top-header-right .loc-flag-wrapper, .top-header-right .returns-wrapper, .top-header-right .cart-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

a,
a:visited {
  color: white;
  text-decoration: none; }

.top-header {
  background: #131921;
  justify-content: space-between; }
  .top-header .logo {
    background: url("/assets/sprites/nav-sprite.png") no-repeat -10px -51px;
    width: 96px;
    height: 29px;
    margin: 17px 20px 15px 20px; }
  .top-header .pin-wrap {
    width: 100px; }
    .top-header .pin-wrap .pin-icon {
      color: gray;
      background: url("/assets/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png") no-repeat -71px -306px;
      width: 17px;
      height: 20px; }

.search {
  min-width: 300px;
  width: 60%; }
  .search .whatToSearch {
    padding: 10px;
    background: #f3f3f3;
    color: #5a5555;
    font-size: 12px;
    min-width: 30px;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid lightgray; }
  .search .input-search {
    width: 100%;
    background: white; }
    .search .input-search input {
      border: none;
      height: 100%;
      width: 100%; }
      .search .input-search input:focus {
        border: 2px solid #ff9900 !important; }
  .search .btn-search {
    width: 50px;
    padding: 15px;
    background: #febd69;
    color: #333333;
    border-radius: 0 5px 5px 0; }

.top-header-right {
  width: 380px;
  padding: 7px; }
  .top-header-right .loc-flag-wrapper {
    padding: 5px 10px;
    margin-right: 20px; }
    .top-header-right .loc-flag-wrapper .loc-flag {
      background: url("/assets/sprites/flag.JPG") no-repeat;
      background-size: contain;
      width: 28px;
      height: 20px; }
      .top-header-right .loc-flag-wrapper .loc-flag div {
        color: #a7acb2;
        display: inline-block;
        margin-left: 30px; }
  .top-header-right .sign-in.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .top-header-right .sign-in.wrapper .sign-in {
      min-width: 200px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 20px 20px; }
  .top-header-right .returns-wrapper {
    min-width: 100px; }
    .top-header-right .returns-wrapper .returns {
      padding: 5px 10px; }
  .top-header-right .cart-wrapper {
    width: 100px;
    color: #e95e1d; }
    .top-header-right .cart-wrapper .cart-image {
      text-align: center;
      font-size: 16px;
      background: url("/assets/sprites/nav-sprite.png") no-repeat -10px -340px;
      width: 38px;
      height: 26px;
      margin: 10px; }

.nav-main {
  padding: 15px;
  background: #232f3e; }
  .nav-main ul {
    justify-content: flex-start; }
    .nav-main ul li {
      list-style-type: none; }
      .nav-main ul li a {
        margin: 0px 0.5rem;
        padding: 0.5rem;
        color: white;
        border: 1px solid transparent;
        border-radius: 3px; }
      .nav-main ul li :hover {
        border-color: white; }

.deal-banner {
  background: url("/assets/images/deal-banner.jpg") no-repeat center;
  height: 40px; }
