.top-header, .top-header-left, .top-header-right, .nav-main ul {
  display: flex;
  flex-direction: row; }

a,
a:visited {
  color: white;
  text-decoration: none; }

.top-header {
  padding: 18px 22px 8px;
  background: #131921;
  justify-content: space-between; }
  .top-header-left, .top-header-right {
    width: 20%; }
  .top-header .logo {
    background: url("/assets/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png") no-repeat -10px -51px;
    width: 96px;
    height: 29px;
    margin-right: 20px; }
  .top-header .location-icon {
    background: url("/assets/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png") no-repeat -71px -306px;
    width: 17px;
    height: 20px;
    margin: 5px; }
  .top-header .search {
    width: 60%; }

.nav-main {
  padding: 15px;
  background: #232f3e; }
  .nav-main ul {
    justify-content: flex-start; }
    .nav-main ul li {
      list-style-type: none; }
      .nav-main ul li a {
        margin: 0px 0.5rem;
        padding: 0.5rem;
        color: white;
        border: 1px solid transparent;
        border-radius: 3px; }
        .nav-main ul li a :hover {
          border-color: red; }

.deal-banner {
  background: url("/assets/images/deal-banner.jpg") no-repeat center;
  height: 40px; }
