.top-header, .top-header-left, .top-header-right, .search, .nav-main ul {
  display: flex;
  flex-direction: row; }

.top-header .pin-wrap, .top-header-right .loc-flag-wrapper, .top-header-right .sign-in.wrapper, .top-header-right .returns-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

a,
a:visited {
  color: white;
  text-decoration: none; }

.top-header {
  background: #131921;
  justify-content: space-between; }
  .top-header-left div, .top-header-right div {
    border: 1px solid red; }
  .top-header .logo {
    background: url("/assets/sprites/nav-sprite.png") no-repeat -10px -51px;
    width: 96px;
    height: 29px;
    margin-right: 20px; }
  .top-header .pin-wrap {
    width: 100px; }
    .top-header .pin-wrap .pin-icon {
      background: url("/assets/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png") no-repeat -71px -306px;
      width: 17px;
      height: 20px; }

.search {
  min-width: 300px;
  width: 60%; }
  .search .whatToSearch {
    padding: 10px;
    background: #f3f3f3;
    color: #5a5555;
    font-size: 12px;
    min-width: 30px;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid lightgray; }
  .search .input-search {
    width: 100%;
    background: white; }
    .search .input-search input {
      border: none;
      height: 100%;
      width: 100%; }
      .search .input-search input:focus {
        border: 2px solid #ff9900 !important; }
  .search .btn-search {
    width: 50px;
    padding: 15px;
    background: #febd69;
    color: #333333;
    border-radius: 0 5px 5px 0; }

.top-header-right {
  width: 350px;
  padding: 7px; }
  .top-header-right .loc-flag-wrapper {
    padding: 5px 10px; }
    .top-header-right .loc-flag-wrapper .loc-flag {
      background: url("/assets/sprites/flag.JPG") no-repeat;
      background-size: contain;
      width: 28px;
      height: 20px; }
      .top-header-right .loc-flag-wrapper .loc-flag div {
        color: #a7acb2;
        display: inline-block;
        margin-left: 30px; }
  .top-header-right .sign-in.wrapper {
    min-width: 140px; }
    .top-header-right .sign-in.wrapper .sign-in {
      padding: 15px 10px; }
      .top-header-right .sign-in.wrapper .sign-in div {
        color: #a7acb2;
        display: inline-block;
        margin-left: 30px; }
  .top-header-right .returns-wrapper {
    min-width: 100px; }
    .top-header-right .returns-wrapper .returns {
      padding: 5px 10px; }

.nav-main {
  padding: 15px;
  background: #232f3e; }
  .nav-main ul {
    justify-content: flex-start; }
    .nav-main ul li {
      list-style-type: none; }
      .nav-main ul li a {
        margin: 0px 0.5rem;
        padding: 0.5rem;
        color: white;
        border: 1px solid transparent;
        border-radius: 3px; }
      .nav-main ul li :hover {
        border-color: white; }

.deal-banner {
  background: url("/assets/images/deal-banner.jpg") no-repeat center;
  height: 40px; }

.product-desciption {
  height: auto;
  padding: 10px 20px; }
  .product-desciption h1 {
    font-family: "Amazon Ember Light";
    font-size: 24px;
    letter-spacing: 0.08rem;
    line-height: 1.5; }
  .product-desciption .rating {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    padding: 0 0 8px 0; }
    .product-desciption .rating .stars {
      display: inline-block;
      background: url("/assets/sprites/ratings-srpite.png") no-repeat -99px -109px;
      width: 95px;
      height: 18px;
      margin-right: 30px; }
  .product-desciption .price {
    display: flex;
    flex-direction: row;
    padding-top: 15px; }
    .product-desciption .price .price-title {
      margin-right: 8px; }
  .product-desciption .import-fees {
    color: #565959; }
  .product-desciption table {
    width: 80%;
    padding: 10px 30px 10px 0; }
    .product-desciption table td {
      display: table-cell;
      vertical-align: top; }
    .product-desciption table + p {
      width: 100%;
      border-bottom: 1px solid #e7e7e7; }
  .product-desciption h3 {
    padding: 20px 0 10px 0;
    font-size: 16px; }
  .product-desciption ul li {
    margin-left: 1em; }
  .product-desciption ul + p {
    padding: 20px 0 10px 0; }

.top-header, .top-header-left, .top-header-right, .search, .nav-main ul {
  display: flex;
  flex-direction: row; }

.carouselle {
  padding: 15px 0;
  height: 100px;
  grid-column: 1 / -1; }
  .carouselle .carouselle-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; }
    .carouselle .carouselle-heading .featured h2 {
      color: #cc6600;
      font-size: 18px;
      font-family: "Amazon Ember";
      font-weight: 600; }
  .carouselle .carouselle-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .carouselle .carouselle-wrapper .card-btn-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .carouselle .carouselle-wrapper .card-btn-wrapper .btn-left, .carouselle .carouselle-wrapper .card-btn-wrapper .btn-right {
        height: 40px;
        width: 40px;
        margin: 10px;
        padding: 10px;
        background: white;
        text-align: center;
        border: 1px solid lightgray;
        border-radius: 5px; }
        .carouselle .carouselle-wrapper .card-btn-wrapper .btn-left:hover, .carouselle .carouselle-wrapper .card-btn-wrapper .btn-right:hover {
          background: lightgray;
          cursor: pointer; }
    .carouselle .carouselle-wrapper .cards-wrapper {
      width: calc(90% - 100px); }
      .carouselle .carouselle-wrapper .cards-wrapper .card {
        margin: 10px;
        width: 160px; }
        .carouselle .carouselle-wrapper .cards-wrapper .card-img {
          background: url(/assets/images/caruselle1.jpg) no-repeat;
          background-size: contain;
          height: 160px;
          width: 100%; }
        .carouselle .carouselle-wrapper .cards-wrapper .card-rating {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          .carouselle .carouselle-wrapper .cards-wrapper .card-rating .card-stars {
            display: inline-block;
            background: url("/assets/sprites/ratings-srpite.png") no-repeat -99px -109px;
            width: 95px;
            height: 18px; }
        .carouselle .carouselle-wrapper .cards-wrapper .card-price {
          font-size: 18px; }

@font-face {
  font-family: "Amazon Ember";
  src: url("/assets/fonts/Amazon-Ember-Medium.ttf");
  font-weight: 400; }

@font-face {
  font-family: "Amazon Ember Light";
  src: url("/assets/fonts/AmazonEmber_Lt.ttf"); }

* {
  padding: 0;
  margin: 0;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: small;
  box-sizing: border-box; }

.strong {
  font-weight: 700; }

a.small-link {
  color: #007185; }
  a.small-link:hover {
    text-decoration: underline;
    color: #b6311c; }

.red {
  color: #b6311c;
  font-size: 18px; }

main {
  padding: 30px 20px 0 20px;
  display: grid;
  max-width: 1400px;
  margin: auto;
  grid-template-columns: 40% 40% 20%;
  color: #0f1111;
  font-family: "Amazon Ember Light";
  letter-spacing: 0.03rem;
  line-height: 1.5; }
  main .breadcrumbs {
    grid-column: 1 / -1;
    font-family: "Amazon Ember Light";
    font-weight: 600;
    margin-bottom: 10px; }
    main .breadcrumbs a {
      text-decoration: none;
      color: inherit;
      font-weight: 400;
      font-size: 12px;
      color: #777; }
    main .breadcrumbs a:hover {
      text-decoration: underline; }
  main .product-images {
    padding: 10px 20px 10px 0;
    background: white;
    height: 100vh;
    position: relative; }
    main .product-images .image-default {
      position: absolute;
      top: 0;
      left: 80px;
      content: "";
      width: calc(90% - 50px);
      height: 100vh;
      background: url("/assets/images/large-img2.jpg") no-repeat;
      background-size: contain; }
    main .product-images .thumbnail {
      width: 40px;
      height: 40px;
      border: 1px solid gray;
      margin: 10px 10px 10px 0; }
      main .product-images .thumbnail:hover {
        box-shadow: 0 0 8px #f56600; }
        main .product-images .thumbnail:hover::after {
          visibility: visible; }
      main .product-images .thumbnail::after {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 80px;
        content: "";
        width: calc(90% - 50px);
        height: 100vh;
        z-index: 10; }
      main .product-images .thumbnail1 {
        background: url("/assets/images/thumb1.jpg") no-repeat center; }
        main .product-images .thumbnail1::after {
          background: url("/assets/images/large-img1.jpg") no-repeat;
          background-size: contain; }
      main .product-images .thumbnail2 {
        background: url("/assets/images/thumb2.jpg") no-repeat center; }
        main .product-images .thumbnail2::after {
          background: url("/assets/images/large-img2.jpg") no-repeat;
          background-size: contain; }
      main .product-images .thumbnail3 {
        background: url("/assets/images/thumb3.jpg") no-repeat center; }
        main .product-images .thumbnail3::after {
          background: url("/assets/images/large-img3.jpg") no-repeat;
          background-size: contain; }
      main .product-images .thumbnail4 {
        background: url("/assets/images/thumb4.jpg") no-repeat center; }
        main .product-images .thumbnail4::after {
          background: url("/assets/images/large-img4.jpg") no-repeat;
          background-size: contain; }
  main .purchase {
    background: white;
    padding: 10px 20px;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    height: 70%; }
