%nav-flex {
  display: flex;
  flex-direction: row;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

.top-header {
  padding: 18px 22px 8px;
  @extend %nav-flex;
  background: #131921;
  justify-content: space-between;
    
  &-left,
  &-right {
    @extend %nav-flex;
    width: 20%;
  }
  
  .logo {
    background: url("/assets/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
      no-repeat -10px -51px;
    width: 96px;
    height: 29px;
    margin-right: 20px;
  }

  .location-icon {
    background: url("/assets/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
      no-repeat -71px -306px;
    width: 17px;
    height: 20px;
    margin: 5px;
  }
  .search  {
    width: 60%;
  }
}

.nav-main {
  padding: 15px;
  background: #232f3e;
  ul {
    @extend %nav-flex;
    justify-content: flex-start;

    li {
      list-style-type: none;

      a {
        margin: 0px 0.5rem;
        padding: 0.5rem;

        color: white;
        border: 1px solid transparent;
        border-radius: 3px;

        :hover {
          border-color: red; // TODO not working
        }
      }
    }
  }
}

.deal-banner {
  background: url("/assets/images/deal-banner.jpg") no-repeat center;
  height: 40px;
}
