%nav-flex {
  display: flex;
  flex-direction: row;
}

%wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

.top-header {
  @extend %nav-flex;
  background: #131921;
  justify-content: space-between;

  &-left,
  &-right {
    @extend %nav-flex;

    div {
      border: 1px solid red;
    }
  }

  .logo {
    background: url("/assets/sprites/nav-sprite.png") no-repeat -10px -51px;
    width: 96px;
    height: 29px;
    margin-right: 20px;
  }

  .pin-wrap {
    @extend %wrapper;
    width: 100px;
    .pin-icon {
      //TODO
      background: url("/assets/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
        no-repeat -71px -306px;
      width: 17px;
      height: 20px;
    }
  }
}

.search {
  min-width : 300px;
  width: 60%;

  @extend %nav-flex;

  .whatToSearch {
    padding: 10px;
    background: #f3f3f3;
    color: #5a5555;
    font-size: 12px;
    min-width: 30px;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid lightgray;
  }

  .input-search {
    width: 100%;
    background: white;
    input {
      border: none;
      height: 100%;
      width: 100%;

      &:focus {
        border: 2px solid #ff9900 !important; //TODO
      }
    }
  }

  .btn-search {
    width: 50px;
    padding: 15px;
    background: #febd69;
    color: #333333;
    border-radius: 0 5px 5px 0;
  }
}

.top-header-right {
  width: 350px;
  padding: 7px;

  .loc-flag-wrapper {
    padding: 5px 10px;
    @extend %wrapper;

    .loc-flag {
      background: url("/assets/sprites/flag.JPG") no-repeat;
      background-size: contain;
      width: 28px;
      height: 20px;

      div {
        color: #a7acb2;
        display: inline-block;
        margin-left: 30px;
      }
    }
  }

  .sign-in.wrapper {
    @extend %wrapper;
    min-width: 140px;

    .sign-in {
      padding: 15px 10px;

      div {
        color: #a7acb2;
        display: inline-block;
        margin-left: 30px;
      }
    }
  }

  .returns-wrapper {
    @extend %wrapper;
    min-width: 100px;

    .returns {
      padding: 5px 10px;
    }
  }
}

.nav-main {
  padding: 15px;
  background: #232f3e;

  ul {
    @extend %nav-flex;
    justify-content: flex-start;

    li {
      list-style-type: none;

      a {
        margin: 0px 0.5rem;
        padding: 0.5rem;

        color: white;
        border: 1px solid transparent;
        border-radius: 3px;
      }
      :hover {
        border-color: white;
      }
    }
  }
}

.deal-banner {
  background: url("/assets/images/deal-banner.jpg") no-repeat center;
  height: 40px;
}
