@font-face {
  font-family: "Amazon Ember";
  src: url(/dist/assets/fonts/Amazon-Ember-Medium.ttf);
  font-weight: 400;
}

* {
  font-family: "Amazon Ember", Arial, sans-serif;
}

%nav-flex {
  display: flex;
  flex-direction: row;
}

.top-header {
  @extend %nav-flex;
  justify-content: space-between;
}

.nav-main ul {
  @extend %nav-flex;
  justify-content: flex-start;

  li {
    margin: 0px 0.5rem;
    list-style-type: none;
  }
}
