@import "header";
@import "product-desc";

@font-face {
  font-family: "Amazon Ember";
  src: url("/assets/fonts/Amazon-Ember-Medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Amazon Ember Light";
  src: url("/assets/fonts/AmazonEmber_Lt.ttf");
}

* {
  padding: 0;
  margin: 0;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: small;
  box-sizing: border-box;
}

.strong {
  font-weight: 700;
}

a.small-link {
  color: #007185;
  
}

.red {
  color: #b6311c;
  font-size: 18px;
}

main {
  padding-top: 30px;
  display: grid;
  max-width: 1400px;
  margin: auto;
  grid-template-columns: 40% 40% 20%;
  color: #0f1111;
  font-family: "Amazon Ember Light";
  letter-spacing: 0.03rem;
  line-height: 1.5;

 

  .product-images {
    padding: 10px 20px;
    background: white;
    height: 100vh;
    position: relative;

    .image-default {
      // TODO hide when hover over thumbnail
      position: absolute;
      top: 0;
      left: 80px;
      content: "";
      width: calc(90% - 50px);
      height: 100vh;
      background: url("/assets/images/large-img2.jpg") no-repeat;
      background-size: contain;
    }

    .thumbnail {
      width: 40px;
      height: 40px;
      border: 1px solid gray;
      margin: 10px;

      &:hover {
        box-shadow: 0 0 8px #f56600;
        &::after {
          visibility: visible;
        }
      }

      &::after {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 80px;
        content: "";
        width: calc(90% - 50px);
        height: 100vh;
        z-index: 10;
      }

      &1 {
        background: url("/assets/images/thumb1.jpg") no-repeat center;
        &::after {
          background: url("/assets/images/large-img1.jpg") no-repeat;
          background-size: contain;
        }
      }

      &2 {
        background: url("/assets/images/thumb2.jpg") no-repeat center;
        &::after {
          background: url("/assets/images/large-img2.jpg") no-repeat;
          background-size: contain;
        }
      }

      &3 {
        background: url("/assets/images/thumb3.jpg") no-repeat center;
        &::after {
          background: url("/assets/images/large-img3.jpg") no-repeat;
          background-size: contain;
        }
      }
      &4 {
        background: url("/assets/images/thumb4.jpg") no-repeat center;
        &::after {
          background: url("/assets/images/large-img4.jpg") no-repeat;
          background-size: contain;
        }
      }
    }
  }

  .purchase {
    background: white;
  }
}

.carouselle {
  height: 100px;
  background: wheat;
  // flex-grow: 4;
}
