@import "header";

@font-face {
  font-family: "Amazon Ember";
  src: url("/assets/fonts/Amazon-Ember-Medium.ttf");
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: small;
}

main {
  display: grid;
  grid-template-columns: 40% 40% 20%;
}

.product-images {
  background: lightblue;
  height: 100vh;
}
.product-desciption {
  background: lightcoral;
  height: auto;
}
.purchase {
  background: goldenrod;
}

.carouselle {
  height: 100px;
  background: wheat;
  flex-grow: 4;
}
